<h1>Promotion System</h1>
<h3>Boas vindas ao sistema de gestão de promoções</h3>

<%= form_with url: search_path, method: :get do |f|%>
    <%= f.label :query, 'Buscar' %>
    <%= f.text_field :query %>
    <%= f.submit 'Pesquisar' %>
<% end %>