/* CORES IUGU:
  Cinza: 72 72 72
  Azul:  27 170 204
  Azul+: 27 144 191
  Azul-: 107 200 222
  Vermelho: 226 68 50
  Preto: 38 38 38
*/

* {
  margin:0;
  padding: 0;
  font-size: 100%;
  border: none;
  outline: none;
  font-weight: 300;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: rgb(250,250,250);
  color: rgb(72,72,72)
}

ul {
  list-style: none;
}

a{
  text-decoration: none;
  color: rgb(27,170,204);
}
a:hover{
  color: rgb(27, 144, 191);
}

.container {
  width: 100%;
  float: left;
  padding: 3% 4%;
  text-align: center;
}

h1 {
  color: rgb(38, 38, 38);
  font-size: 2em;
}

.coupons {
  border-collapse: collapse;
}

.coupons td, .coupons th {
  border: 1px solid rgb(107, 200, 222);
  padding: 8px;
}

.coupons a {
  color: rgb(226, 68, 50)
}
.coupons tr:hover {
  background-color: rgb(220, 220, 220);
}

.coupons th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color:rgb(107, 200, 222);
  color: rgb(250, 250, 250);
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

dl{
  text-align: left;
 
}
dt {
  font-weight: bold;
  padding: 1%;
}
small {
  font-size: smaller;
  font-weight: bold;
}